force-app/main/default/flows/Add_User_to_Swarm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_Slack_integration_enablement</name>
        <label>Check Slack integration enablement</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <actionName>swarmingCollaborationToolSettings</actionName>
        <actionType>swarmingCollaborationToolSettings</actionType>
        <connector>
            <targetReference>Is_Skills_Based_Routing_Enabled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invokable_action_failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <outputParameters>
            <assignToReference>CollaborationToolAppId</assignToReference>
            <name>collaborationAppId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>OrgValueCollaborationTool</assignToReference>
            <name>collaborationTool</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Is_Omni_Enabled</assignToReference>
            <name>isOmniSkillsRoutingEnabled</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Available_Swarm_Object</name>
        <label>Get Available Swarm Object</label>
        <locationX>545</locationX>
        <locationY>950</locationY>
        <actionName>getAvailableSwarmObject</actionName>
        <actionType>getAvailableSwarmObject</actionType>
        <connector>
            <targetReference>Label_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>channelName</assignToReference>
            <name>channelName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sObjectType</assignToReference>
            <name>objectApiName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recordNumber</assignToReference>
            <name>recordNameOrNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recordOwner</assignToReference>
            <name>recordOwnerId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Label_Assignment</name>
        <label>Label Assignment</label>
        <locationX>545</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>LabelForSwarmMemberName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SwarmMembersName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelForSwarmName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SwarmName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_related_Swarm_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Service_channel_Or_Skill_Empty</name>
        <label>Check if Service channel Or Skill Empty</label>
        <locationX>391</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_Available_Swarm_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Empty Service channel And Skill</defaultConnectorLabel>
        <rules>
            <name>Empty_Service_channel_Or_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Channel_Or_Skill_Empty.IsSkillOrServiceChannelEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Empty Service channel Or Skill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collaboration_tool</name>
        <label>Collaboration tool</label>
        <locationX>336</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Update_Swarm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Slack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Swarm.CollaborationTool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_swarm_dedicate_channel</targetReference>
            </connector>
            <label>Slack</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_able_to_run_flow</name>
        <label>If able to run flow</label>
        <locationX>545</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Not_able_to_run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not able to run add to swarm flow</defaultConnectorLabel>
        <rules>
            <name>Able_to_run_add_to_swarm_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Swarm.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collaboration_tool</targetReference>
            </connector>
            <label>Able to run add to swarm flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Skills_Based_Routing_Enabled</name>
        <label>Is Skills Based Routing Enabled</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Available_Swarm_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skills Based Routing Disabled</defaultConnectorLabel>
        <rules>
            <name>Skills_Based_Routing_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Omni_Enabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Channel_Or_Skill_Empty</targetReference>
            </connector>
            <label>Skills Based Routing Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if swarm record is dedicated channel</description>
        <name>Is_swarm_dedicate_channel</name>
        <label>Is swarm dedicated channel</label>
        <locationX>94</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Swarm_is_dedicated_channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Swarm.IsDedicatedChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Swarm</targetReference>
            </connector>
            <label>Swarm is dedicated channel</label>
        </rules>
        <rules>
            <name>Swarm_is_not_dedicated_channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Swarm.IsDedicatedChannel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_swarm_in_slack</targetReference>
            </connector>
            <label>Swarm is not dedicated channel</label>
        </rules>
    </decisions>
    <formulas>
        <name>TruncateName</name>
        <dataType>String</dataType>
        <expression>IF (LEN({!SwarmMemberName}) &lt; 256, {!SwarmMemberName}, TRIM(LEFT({!SwarmMemberName}, 252) &amp; &quot;...&quot;))</expression>
    </formulas>
    <formulas>
        <name>TruncateSwarmMemberName</name>
        <dataType>String</dataType>
        <expression>IF (LEN({!LabelForSwarmMemberName}) &lt; 256, {!LabelForSwarmMemberName}, TRIM(LEFT({!LabelForSwarmMemberName}, 252) &amp; &quot;...&quot;))</expression>
    </formulas>
    <interviewLabel>Add User to Swarm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add User to Swarm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_related_Swarm_Records</name>
        <label>Get related Swarm Records</label>
        <locationX>545</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Swarm_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Swarm</object>
        <outputReference>relatedSwarmRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CollaborationTool</queriedFields>
        <queriedFields>CollaborationRoomId</queriedFields>
        <queriedFields>StartedDateTime</queriedFields>
        <queriedFields>EndedDateTime</queriedFields>
        <queriedFields>CollaborationUrl</queriedFields>
        <queriedFields>IsDedicatedChannel</queriedFields>
        <queriedFields>UsageType</queriedFields>
        <queriedFields>HelpNeeded</queriedFields>
        <queriedFields>MessageKey</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Swarm</name>
        <label>Update Swarm</label>
        <locationX>336</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Member_Selection_Swarm_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Swarm.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Swarm</object>
    </recordUpdates>
    <screens>
        <name>Add_to_swarm_in_slack</name>
        <label>Add to swarm in slack</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AddToSwarmInSlack</name>
            <fieldText>&lt;p&gt;This Swarm is in a thread of an existing Channel and Channel members should be managed within Slack app&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Add_To_Swarming_Flow</name>
        <label>Finish Add To Swarming Flow</label>
        <locationX>336</locationX>
        <locationY>2462</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Add To Swarm flow is complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invokable_action_failed</name>
        <label>Invokable action failed</label>
        <locationX>1018</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Label_CaseSwarmingFlows_InvocableActionFailedError</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>Invocable Action Failed Error</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Not able to run the flow.</description>
        <name>Not_able_to_run</name>
        <label>Not able to run</label>
        <locationX>754</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotAbleToRun</name>
            <fieldText>&lt;p&gt;The Swarm record associated with this object is either closed or nonexistent. This flow can run only with an open Swarm record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Slack_integration_enablement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Member_Selection_Swarm_Flow</name>
        <label>Member Selection Swarm Flow</label>
        <locationX>336</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Finish_Add_To_Swarming_Flow</targetReference>
        </connector>
        <flowName>case_swarming__Member_Selection</flowName>
        <inputAssignments>
            <name>CollaborationRoomId</name>
            <value>
                <elementReference>Get_Swarm.CollaborationRoomId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CollaborationToolAppId</name>
            <value>
                <elementReference>CollaborationToolAppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Is_Omni_Enabled</name>
            <value>
                <elementReference>Is_Omni_Enabled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LabelForSwarmMemberName</name>
            <value>
                <elementReference>LabelForSwarmMemberName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LabelForSwarmName</name>
            <value>
                <elementReference>LabelForSwarmName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SwarmMemberHelpNeeded</name>
            <value>
                <elementReference>Get_Swarm.HelpNeeded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrgValueCollaborationTool</name>
            <value>
                <elementReference>OrgValueCollaborationTool</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordOwner</name>
            <value>
                <elementReference>recordOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedChannelId</name>
            <value>
                <elementReference>Get_Swarm.CollaborationRoom.PlatformKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedSwarmId</name>
            <value>
                <elementReference>Get_Swarm.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedWorkspaceId</name>
            <value>
                <elementReference>Get_Swarm.CollaborationRoom.TeamKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceChannelId</name>
            <value>
                <elementReference>Service_Channel_Or_Skill_Empty.serviceChannelId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Select_Swarm_record</name>
        <label>Select Swarm record</label>
        <locationX>545</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>If_able_to_run_flow</targetReference>
        </connector>
        <flowName>case_swarming__Select_Swarm</flowName>
        <inputAssignments>
            <name>MultiSwarmTagLine</name>
            <value>
                <elementReference>MultiSwarmTagLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedSwarmRecords</name>
            <value>
                <elementReference>relatedSwarmRecords</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Get_Swarm</assignToReference>
            <name>Get_Swarm</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Service_Channel_Or_Skill_Empty</name>
        <label>Service Channel Or Skill Empty</label>
        <locationX>391</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Check_if_Service_channel_Or_Skill_Empty</targetReference>
        </connector>
        <flowName>case_swarming__Omni_Entities_Validator</flowName>
        <inputAssignments>
            <name>Is_Omni_Enabled</name>
            <value>
                <elementReference>Is_Omni_Enabled</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>MultiSwarmTagLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This record has more than one related swarm. Choose a swarm to add members to.</text>
    </textTemplates>
    <textTemplates>
        <name>SlackMessageLabel</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Welcome To Channel</text>
    </textTemplates>
    <textTemplates>
        <name>SwarmMembersName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Swarm Member For {!sObjectType} #{!recordNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>SwarmName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Swarm For {!sObjectType} #{!recordNumber}</text>
    </textTemplates>
    <variables>
        <name>channelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollaborationToolAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Get_Swarm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Swarm</objectType>
    </variables>
    <variables>
        <name>Is_Omni_Enabled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelForSwarmMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelForSwarmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgValueCollaborationTool</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedSwarmRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Swarm</objectType>
    </variables>
    <variables>
        <name>sObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SwarmMemberName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
