force-app/main/default/flows/Flow_Check_Latest_Versions_vs_Active_Versions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>704</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>vFlowList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fFlowEntry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Definitions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_No_Active_Collection</name>
        <label>Add to No Active Collection</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>vFlowListNoActive</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fFlowEntryNoActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Definitions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Latest_Version_the_Active_Version</name>
        <label>Is Latest Version the Active Version?</label>
        <locationX>418</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Flow_Version</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Latest is NOT Active (Default)</defaultConnectorLabel>
        <rules>
            <name>Latest_is_Active</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Definitions.ActiveVersionId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Flow_Definitions.LatestVersionId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Definitions</targetReference>
            </connector>
            <label>Latest is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_Active_Version</name>
        <label>Is there an Active Version?</label>
        <locationX>572</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Latest is NOT Active (Default)</defaultConnectorLabel>
        <rules>
            <name>No_Active_Version</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Definitions.ActiveVersionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_No_Active_Collection</targetReference>
            </connector>
            <label>No Active Version</label>
        </rules>
    </decisions>
    <description>Check flows and lists those with an Active Version that is not the Latest Version and lists those with no Active Version.</description>
    <formulas>
        <name>fCRLF</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ttCRLF}, &quot;~&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fFlowEntry</name>
        <dataType>String</dataType>
        <expression>LPAD( TEXT( {!Flow_Definitions.VersionNumber}) , 5, CHR(0160) ) &amp; LPAD( TEXT( {!Get_Latest_Flow_Version.VersionNumber} ), IF( {!Flow_Definitions.VersionNumber} &gt; 99, 7, IF( {!Flow_Definitions.VersionNumber} &gt; 9, 8, 9 ) ), CHR(0160)  ) &amp; LPAD( CHR(0160), IF( {!Get_Latest_Flow_Version.VersionNumber} &gt; 99, 4, IF( {!Get_Latest_Flow_Version.VersionNumber} &gt; 9, 5, 6 ) ), CHR(0160) ) &amp; {!Flow_Definitions.Label} &amp; {!fCRLF}</expression>
    </formulas>
    <formulas>
        <name>fFlowEntryNoActive</name>
        <dataType>String</dataType>
        <expression>LPAD( &quot;--&quot; , 5, CHR(0160) ) &amp; LPAD( TEXT( {!Get_Latest_Flow_Version.VersionNumber} ), 9, CHR(0160) ) &amp; LPAD( CHR(0160), IF( {!Get_Latest_Flow_Version.VersionNumber} &gt; 99, 4, IF( {!Get_Latest_Flow_Version.VersionNumber} &gt; 9, 5, 6 ) ), CHR(0160) ) &amp; {!Flow_Definitions.Label} &amp; {!fCRLF}</expression>
    </formulas>
    <interviewLabel>Flow - Check Latest Versions vs Active Versions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Check Latest Versions vs Active Versions</label>
    <loops>
        <name>Flow_Definitions</name>
        <label>Flow Definitions</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Flow_Definitions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Latest_Version_the_Active_Version</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Flow_Definitions</name>
        <label>Get Flow Definitions</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Definitions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProcessType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoLaunchedFlow</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProcessType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FlowDefinitionView</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Flow_Version</name>
        <label>Get Latest Flow Version</label>
        <locationX>572</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_Active_Version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowDefinitionViewId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Flow_Definitions.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FlowVersionView</object>
        <sortField>VersionNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Result_Lists</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;The Active Version of these Flows is not the Latest Version&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Active&amp;nbsp;Latest&amp;nbsp;Flow&lt;/p&gt;&lt;p&gt;{!vFlowList}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;These Flows have no Active Version&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Active&amp;nbsp;Latest&amp;nbsp;Flow&lt;/p&gt;&lt;p&gt;{!vFlowListNoActive}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Flow_Definitions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ttCRLF</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>~
~</text>
    </textTemplates>
    <variables>
        <name>vFlowList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vFlowListNoActive</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
