force-app/main/default/flows/Integration_Status_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Account_Owner</name>
        <label>Email Account Owner</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Account.Email_Account_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_account_name</name>
        <label>Assign account name</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountnamewithIntegrationStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_changes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oracle_Id</name>
        <label>Assign Oracle Id</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Oracle_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ORA1234</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_changes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_the_Integration_Status</name>
        <label>What is the Integration Status?</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_account_name</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New</label>
        </rules>
        <rules>
            <name>Established</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connection Established</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oracle_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Established</label>
        </rules>
        <rules>
            <name>Disconnected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disconnected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Account_Owner</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Disconnected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountnamewithIntegrationStatus</name>
        <dataType>String</dataType>
        <expression>$Record.Name + &quot; &quot; +TEXT($Record.Integration_Status__c)</expression>
    </formulas>
    <interviewLabel>Integration Status Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Integration Status Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Commit_changes</name>
        <label>Commit changes</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_the_Integration_Status</targetReference>
        </connector>
        <filterFormula>ISCHANGED({!$Record.Integration_Status__c})</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
